/* Reset */
nav { 
	background: #2F3950;
	height: 40px;
}
.nav,
.nav a,
.nav ul,
.nav li,
.nav div {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.nav li { list-style: none; }

/* Menu Container */
.nav {
	display: inline-block;
	position: relative;
	cursor: default;
	/*z-index: 500;*/
	width: 100%;
}

/* Menu List */
.nav > li {
	display: block;
	float: left;
}

/* Menu Links */
.nav > li > a {
	text-decoration: none;
	position: relative;
	display: block;
	height: 40px;
	padding: 0 15px;
	line-height: 40px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #fcfcfc;
	text-shadow: 0 0 1px rgba(0,0,0,.35);
	transition: all 1s ease;
}
.nav > li > a::after{
	content: " ";
    margin: -2px 0px 0px;
    width: 6px;
    height: 4px;
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    background: transparent url("http://www.msu.ru/bitrix/templates/msu/images/sprite.png") no-repeat scroll -17px -32px;
}
.nav > li:hover > a { background: #D83C3C; }

.nav > li:first-child > a {
	/*border-radius: 3px 0 0 3px;*/
	border-left: none;
}

/* Menu Dropdown */
.nav > li > div {
	z-index: 510;
	position: absolute;
	display: block;
	width: 100%;
	/*top: 46px;*/
	left: 0;

	opacity: 0;
	visibility: hidden;
	overflow: hidden;
 	background-color: #606F93;
	/*background-color: rgba(196, 231, 255, 0.96);*/
	border-bottom: 2px dashed black;
	/*border-radius: 0 0 3px 3px;*/
	transition: all .2s ease .15s;
}

.nav > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

/* Menu Content Styles */
.nav .nav-column {
	float: left;
	/*width: 20%;*/
	padding: 2% 2.5% 1% 2.5%;
}

.nav .nav-column h3 {
	margin: 20px 0 10px 0;
	line-height: 18px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	/*color: #1B59C6;*/
	color: #ff722b;
	text-transform: uppercase;
}

.nav .nav-column h3.orange { color: #ff722b; }

.nav .nav-column a {
	display: block;
	line-height: 26px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	/*color: #393939;*/
	color: white;
}

.nav .nav-column a:hover { 
	color: #363636; 
}